@import "tailwindcss";

@theme inline {
  --font-main: var(--font-folsom);
  --font-sub: var(--font-clack);
}

.repeaterBg {
  width: 100%;
  height: 100%;
  background: repeating-radial-gradient(rgb(255, 230, 230) 55%, white 56%);
  animation: rotate 2s linear infinite;
}

:root {
  background: #ffffff;
}

body {
  background-color: var(--background);
}

html,
body {
  overflow-x: hidden;
}

.panel {
  flex-shrink: 0;
}


